<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sanyansdk" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application android:usesCleartextTraffic="true">
        <!-- *****************************闪验SDK必须配置的activity*********************** -->
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CmccLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/dialogStyle" />

        <activity-alias
            android:name="com.cmic.sso.sdk.activity.LoginAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:targetActivity="com.chuanglan.shanyan_sdk.view.CmccLoginActivity"
            android:theme="@style/dialogStyle" /> <!-- **********************电信授权页activity************************** -->
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.ShanYanOneKeyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/dialogStyle" /> <!-- **********************协议页activity************************** -->
        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CTCCPrivacyProtocolActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="behind" />


    </application>
</manifest>
