<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="swaiotos.channel.iot.tv">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_SPECIAL_UDISK" />
    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- Android4.0以上，写USB等设备需要该权限，机器需ROOT -->
    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" /> <!-- 读取cache分区内容的权限 -->
    <uses-permission
        android:name="android.permission.ACCESS_CACHE_FILESYSTEM"
        tools:ignore="ProtectedPermissions" /> <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.tianci.user.permission.READ_CONTENT" />

    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".PADChannelApplication"
        android:allowBackup="true"
        android:icon="@drawable/iot_channel"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppThemeBlack"
        tools:replace="android:icon, android:theme">

        <meta-data
            android:name="IOT_SERVER"
            android:value="${IOT_SERVER_VALUE}" />
        <meta-data
            android:name="IOT_CHANEL"
            android:value="${IOT_CHANEL_VALUE}" />
        <meta-data
            android:name="IOT_APPKEY"
            android:value="${COOCAA_APIKEY_VALUE}" />

        <!-- 新增上报日志的key值-->
        <meta-data
            android:name="IOT_SERVER_LOG_URL"
            android:value="${IOT_SERVER_LOG_URL}" />

        <!-- 新增拉平版本的key值-->
        <meta-data
            android:name="IOT_SERVER_APP_STORE_URL"
            android:value="${IOT_SERVER_APP_STORE_URL}" />

        <meta-data
            android:name="IOT_APPKEY_LOG"
            android:value="${IOT_APPKEY_LOG}" />

        <meta-data
            android:name="com.skyworthiot.sselib.HOSTADDRESS"
            android:value="${IOT_SERVER_LOG_URL}"/>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="coocaa.intent.category.MYAPP_DISMISS" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name=".lsid.PADLSIDManagerService"
            android:enabled="true"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="swaiotos.intent.action.channel.iot.service.LSID" />
            </intent-filter>
        </service>

        <service
            android:name=".PADChannelService"
            android:enabled="true"
            android:exported="true"
            android:process=":core">
            <intent-filter>
                <action android:name="swaiotos.intent.action.channel.iot.service.SS" />
            </intent-filter>
        </service>

        <service
            android:name="swaiotos.channel.iot.common.push.PushMsgIntentService"
            android:exported="true"
            android:process=":core">
            <intent-filter>
                <action android:name="com.coocaa.push.PUSH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="CC_PUSH_APP_ID"
                android:value="UKQOjAwG" />
            <meta-data
                android:name="CC_PUSH_APP_TOKEN"
                android:value="" />
        </service>

        <activity
            android:name="swaiotos.channel.iot.ui.DialogActivity"
            android:process=":core"
            android:theme="@style/common_style" />

    </application>

</manifest>