*.iml
.gradle
/local.properties
.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.classpath
.project
.settings
app/XiaoWeiGuanWang
app/Atest1
baiduVoice/build/intermediates/symbols/debug/R.txt
baiduVoice/build/
yunxinsdk/build/
